.products__item {
    width: 386px;
    height: 444px;
    padding: 16px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: .15s all linear;
    position: relative;

    a{
        text-decoration: none;
    }

    &:hover  {
        // filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
        box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    }

    &:hover .item__cart-btn{
        opacity: 1;
    }
}

.item__image {
    width: 354px;
    height: 330px;
    object-fit: cover;
    margin-bottom: 24px;
    object-position: 0 0;
}

.item__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
}

.item__cost {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
}

.item__title--disabled, 
.item__cost--disabled {
    color: #8D8F9A;
}

.item__image--disabled {
    filter: grayscale(76%) opacity(60%) contrast(101%);
    -webkit-filter: grayscale(76%) opacity(60%) contrast(101%);
    -moz-filter: grayscale(76%) opacity(60%) contrast(101%);
}

.item__image-container {
    position: relative;
}

.item__out-of-stock {
    position: absolute;
    top: 42%;
    left: 22%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #8D8F9A;
    text-transform: uppercase;
}

.item__cart-btn {
    width: 52px;
    height: 52px;
    padding-right: 3px;
    position: absolute;
    // bottom: 5px;
    top: 320px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5ECE7B;
    border-radius: 50%;
    transition: .1s ;
    user-select:none;
    opacity: 0;
    z-index: 10;
    filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));

    &:active::after{
        box-shadow: 0 0 0 0 #5ECE7B;
        position: absolute;
        border-radius: 4em;
        left: 0;
        top:0;
        opacity: 1;
        transition: 0s;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 4em;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        box-shadow: 0 0 10px 40px #5ECE7B;
    }

    &:active {
        background: #f08800;
        bottom: 7px;
    }

    &:hover {
        background: #18db4c;
        transform: scale(1.1,1.1);
        transition-duration: .1s;
    }
}

.cart-btn__image {
    width: 24px;
    height: 24px;
}