.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 100px;
}

.category__title {
    margin-top: 70px;
    margin-bottom: 100px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    color: #1D1F22;
}