.basket__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;

    .item__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 136px;

        .item__title {
            margin-bottom: 7px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 160%;
            color: #1D1F22;
        }

        .item__cost {
            margin-bottom: 7px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            text-align: right;
            color: #1D1F22;
        }

        .attribute__item {
            margin-bottom: 7px;

            .attribute__title {
                margin-bottom: 8px;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #1D1F22;
            }

            .attribute__value-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding-left: 2px;

                .attribute__value {
                    min-width: 24px;
                    height: 24px;
                    padding: 4px;
                    margin-right: 8px;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 160%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #1D1F22;
                    background: rgba(255, 255, 255, 0.2);
                    border: 1px solid #1D1F22;
                    cursor: pointer;

                    &--active{
                        background: #1D1F22;
                        color: #FFFFFF;
                    }
                }

                .attribute__value--color {
                    width: 17px;
                    height: 17px;
                    margin-right: 8px;
                    border: #1D1F22 solid 1px;
                    cursor: pointer;

                    &:last-child {
                        margin-right: 0px;
                    }

                    &--active{
                        border: 2px solid #ffffff;
                        outline: 2px solid #5ECE7B;
                    }
                }
            }
        }
    }

    .item__counter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0px 8px;

        .counter__btn {
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #1D1F22;
            cursor: pointer;
        }
    }

    .item__img {
        width: 121px;
        height: 190px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

